[2017-09-01 17:15] ironcoconut opened #2 "Roadmap"
After discussing with @neerajt and co., we have settled on the following roadmap for the API.

## Goals

### Immediate Goals (next 1-3 days)

1. Incorporation Individual needs spreadsheet into API (being build by Will) (API)
2. Deploy front end for data entry for shelters, needs and individual needs (Frontend)
3. Deprecate the google sheet (Neeraj?/Marketing?)

### Long Term Goals (next week or so

[2017-09-01 17:58] crertel opened #3 "API v2 improvements"
Some things to make front-end dev life easier:

* `updated_at` wants to be RFC3339 in UTC so frontend devs can just throw it into a `new Date()` and get something useful
* `updated_at` -> `updatedAt`
* `phone` should also have `cleanPhone` which is just the concatenated digits for phone numbers (may be wrong on this)
* `supply_needs` and `volunteer_needs` should be merged into `needs`, and be an a

[2017-09-01 21:14] #3 closed

[2017-09-01 21:18] crertel opened #7 "Improve API for `needs`"
This extends the work done in #3 to cover the `needs` routes. As before:
Some things to make front-end dev life easier:

* `updated_at` wants to be RFC3339 in UTC so frontend devs can just throw it into a `new Date()` and get something useful
* `updated_at` -> `updatedAt`
* `phone` should also have `cleanPhone` which is just the concatenated digits for phone numbers (may be wrong on this)
* `suppl

[2017-09-01 22:00] #7 closed

[2017-09-01 23:56] crertel opened #10 "Database strawman"
Here's a simple database mockup:

![harvey_db_strawman](https://user-images.githubusercontent.com/1707779/29991069-0e5ae2cc-8f47-11e7-9ee9-eb7a377a580d.png)

[code]

[2017-09-02 00:35] gdovicak commented on #10
Nice work taking a stab at this!

A question I have though is, what is the purpose of all of the "**Join" tables? Could the same datamodel be achieved w/o those 6 tables and adding the fk's directly to the tables?

[2017-09-02 01:01] gdovicak commented on #10
Ahh, to give you a many->many relationship, not one to many. I get it now. Nice work.

[2017-09-02 04:13] brooklynrob commented on #2
By "individual needs", this means the individual needs of single shelters? Or the needs of individual people/families? If latter probably want to think about privacy concerns of putting in a public API. I am guessing it's the former.

[2017-09-02 04:34] brooklynrob commented on #2
Re "Deprecate the google sheet", I assume the approach would be to leave the current tables as legacy tables from the cutover, and then run a job to migrate the data from those tables to the new schema / newly added tables?

With a little work we could probably also develop a routine that pulls from the legacy tables populated by the google doc data such that if needed one could do incremental upd

[2017-09-02 04:53] ironcoconut commented on #2
Individual people. Shelters are on the shelters table. Non-shelter groups basically represented by needs. Individual needs are individual people. Though individuals are doing something with facebook now. Check with Will if you want more details on that effort.

[2017-09-02 04:55] ironcoconut commented on #2
We have a job that migrates the data from the sheets. That is the basis of how the api functions. See the readme for how to set that up locally.

The google sheet has mad limitations and all are eager to move away from it. Ping Jeff or Neeraj for details.

Also, this plan is being executed atm. Immediate goals are almost finished. We are figuring out the db schema in the slack as we speak.

[2017-09-02 05:19] neerajt commented on #2
@brooklynrob for your last point

Do you mean google sheets for consumption for app-developers? Or do you mean google sheets as an interface for volunteer updates to the data?

For consumption by app developers, I hadn't thought about that much. The app developers we talked to seem to strongly prefer the API worked on by @jwo and @crertel.

For an interface for volunteer updates, google sheets is

[2017-09-02 12:58] brooklynrob commented on #2
@ironcoconut

Just calling out a more non-technical consideration. I don't to what degree the taxonomy of an "individual need" has been defined -- i.e., what fields about a individual are going to be collected.

I don't see a same of similar concept of an individual need either in r 1) the existing GSheet we're migrating from or 2) the first cut of the database design. But if the intention is to c

[2017-09-02 13:23] brooklynrob opened #13 "Build out README to help expedite developer on-boarding"
Material we may want to include in the README

##### Development Process
* Setting up a local instance, including database setup and Google API key
* Git/Github use: Forking, branching, PRs

##### Documentation Standards
* Preferred Inline Comment Style
* Markdown Use

[2017-09-02 13:31] gdovicak commented on #13
Table of Contents at the top as it's starting to get lengthy.

[2017-09-02 15:53] #13 closed

[2017-09-02 18:28] jwo opened #19 "TODO: Add delete with confirmation for need and shelter"
For administrators, be able to delete needs and shelters.

The button should show on the `show` page, with a data-confirmation of "Are you Sure?"

We should have tests that make sure that a non-admin cannot delete the entities.

[2017-09-02 19:13] jwo opened #20 "TODO: Add import from live API to help developers"
We used to be able to run `rails google:import` and get a full local database, but we'll get out of that business soon as #16 and #17 land

So, let's create a rake task:

* Pulls all needs from api.harveyneeds.org/api/v1/needs and then creates local needs
* Pulls all shelters from  api.harveyneeds.org/api/v1/shelters and then creates local shelters

Something like this with the `http` gem

[code]

[2017-09-02 19:15] jwo opened #21 "TODO: Add GraphQL interface"
Figure out how to have a GraphQL with the filters we're currently using for needs/shelters/products

More info:

* gem: https://github.com/rmosolgo/graphql-ruby
* https://www.howtographql.com/
* slides: https://drive.google.com/file/d/0BymhrKy227BhcnBYMk5GUWFfZWM/view

[2017-09-02 20:25] ironcoconut commented on #19
Remove from DB or add a deleted_by field and hide them from the api and tables?

[2017-09-02 20:42] dorton commented on #19
I just did an active boolean and hid from tables.  Prolly need to also hide on api.

[2017-09-02 21:27] jwo opened #26 "TODO: Force SSL in production mode"

[2017-09-02 21:54] nihonjinrxs commented on #20
If no one else has picked this one up, I can tackle it.

[2017-09-02 22:49] nihonjinrxs commented on #20
I was doing this in an additive way, with the API method as default.  After we confirmed the import works as expected, I was going to tear out the Google Sheets version.

Per discussion with @jwo on Slack, will instead replace the Google Sheets imports with API-based ones.

[2017-09-03 00:08] ironcoconut opened #28 "TODO Fix geocoding on models"
We had an emergency fix here: https://github.com/sketch-city/harvey-api/pull/25

This issue serves to remind us that automatic geocoding is disable for the moment.

Ideally geocoding should occur automatically. Determine for models:

- If sufficient address information exists to geocode automatically and consistently.
- Enable geocoding where possible.

This may not be possible until we migrate th

[2017-09-03 00:16] rmoscowitz opened #29 "Sync with the Google Doc"
We need a solution for keeping the Google Doc in sync with the database. Volunteers are still making changes in the spreadsheet (including lots from Saturday afternoon).

One option would be to take a back up of the current database, enable the sync to get today's changes, then manually diff the back up with the updated database.

[2017-09-03 00:18] rmoscowitz opened #30 "Shelters/Needs Pages Not Updating"
After an admin makes a change or approves something in the queue, the /shelters and /needs pages are not reflecting the updates.

Volunteers reporting that the admin updates _are_ visible on the maps.

[2017-09-03 00:20] rmoscowitz opened #31 "TODO: UI Issues/Requests"
If you tackle one of the checkboxes below, check it off and add either a link to the PR where the issue was fixed OR add a link to the new issue for the item.

- [x] Notes field (https://github.com/sketch-city/harvey-api/pull/24)
- [x] Certain fields must be required when adding/updating (#70)
    - Shelter req'd fields: Shelter, Address, Phone
    - Need req'd fields: Location name, Location addr

[2017-09-03 00:36] ironcoconut commented on #31
Notes and closing shelters here: https://github.com/sketch-city/harvey-api/pull/24/files

[2017-09-03 00:37] ironcoconut commented on #31
Lat long in the ui is a temporary hack bc we messed up the geocoding and needed a quick way to fix it. Once the records are corrected, we can remove them.

[2017-09-03 00:39] ironcoconut commented on #31
What are the required fields?

I would think only adding would have required fields.

Updating should have at least 1 field updated.

[2017-09-03 00:40] ironcoconut commented on #31
Address name and shelter are hold overs from the Google sheet. I'm not sure the difference either. They will probably have to stay until we fix the DB schema.

[2017-09-03 01:26] ironcoconut commented on #29
It really is best to have them move to the website. We did not plan to have both running at the same time. I don't know if we have the dev resources to do that diff in a timely manner.

[2017-09-03 01:29] ironcoconut commented on #30
They would need to refresh the page to see the updates.

It is more than likely a caching issue. The browser is storing all the data locally.

We need to setup a mechanism to force updates on the table. It is not live like Google sheets.

[2017-09-03 15:21] jwo opened #33 "TODO: Add a contributors section in README"
This can be as cool or as plain as you want. What would be super cool is a rails task that gets the list of contributors from either git of the GitHub API, and outputs the list into a CONTRIBUTORS.md file

Or, it could just be a shell that when we merge something in we add manually.

[2017-09-03 15:23] jwo opened #34 "TODO: Add contributors page in public front end"
Could be cool to have a contributors page which fetches data from the GitHub API and outputs their avatar, name, and github handle on the API page.

A nice way to say thanks.

Example (in WP) of what I mean: http://underscores.me/ and writeup: https://konstantin.blog/2012/how-to-get-a-list-of-contributors-from-a-github-project/

[2017-09-03 15:36] rmoscowitz commented on #30
Take a look at the Shelters page and sort by "Last Updated". People were trying to make updates yesterday evening, but it shows the most recent update was yesterday at 1:30PM.

Doesn't look like caching. Is it possible there's a limit on responses getting to the browser?

[2017-09-03 15:42] ironcoconut commented on #30
Is the field name last updated? That field is set manually.

We are not displaying updated at, which is set when the record is updated last automatically.

Is the information in the table correct, regardless of the updated field?

[2017-09-03 15:48] rmoscowitz commented on #29
What about pg_dump to text files? I can do the diff and manually re-enter any updates from yesterday that will get wiped.

[2017-09-03 15:50] rmoscowitz commented on #29
I just have a feeling there are too many changes in the Google Doc now to _not_ do one more import.

Totally open to other ideas, I just want to make sure all of the volunteer work yesterday doesn't disappear into the internet void.

[2017-09-03 16:22] ironcoconut commented on #29
I understand. If you can do that, it would be great.

You can also get current data from the api directly.

@jwo how hard is it to get a data dump?

[2017-09-03 16:26] rmoscowitz commented on #29
Ah that's true, and way easier! I can just save the json file.

[2017-09-03 16:28] ironcoconut commented on #29
Awesome!

[2017-09-03 17:04] rmoscowitz commented on #29
I'm backing up responses from /api/v1/shelters and /api/v1/needs every 30 minutes. If someone does the import from Google, let me know and I'll take care of the diff.

[2017-09-03 19:37] ironcoconut opened #38 "TODO: Add feedback for workers"
Via sockets, we want the following live updates:

1. Show when there are pending updates on a table (step 1, almost done by jwo https://github.com/sketch-city/harvey-api/pull/36)
2. Update table in realtime via sockets using Datatables API
3. Display stats concerning:
  - Number of users on the site
  - Number of Updates pending in the queue
  - Number of stale records (a record is stale when: the

[2017-09-03 19:46] jwo opened #39 "TODO: Create Schema for CharitableOrganizations"
Fields:

[code]

Data can be found on https://docs.google.com/spreadsheets/d/14Uy9_FBAD5UMJ4G6v5dIXFMePK2Y2eThWs_b34DKP04/edit#gid=0

* Food Bank: boolean

[2017-09-03 19:47] jwo opened #40 "TODO: create administration for charitable organizations"
Following same UI patterns as needs and shelters and products, create a UI available for only admins that can edit `charitable_organizations` with the fields in #39

[2017-09-03 19:48] jwo opened #41 "TODO: create API for charitable organizations"
Following same patterns (filters and meta) as needs / shelters / products, create an API for `charitable_organizations` with the data in #39

[2017-09-03 20:11] jwo commented on #19
closed with #24

[2017-09-03 20:11] #19 closed

[2017-09-03 20:16] #20 closed

[2017-09-03 20:51] nihonjinrxs commented on #21
I've been wanting to dive into GraphQL anyway, so I can try to tackle this one later tonight and tomorrow.  Won't be able to start for several hours yet though.

[2017-09-03 22:02] ironcoconut commented on #31
The above checkboxes can either be checked off and a link added to the PR when they are done OR they can be checked off and moved to a new issue (also add a link to the new issue).

[2017-09-03 22:04] ironcoconut commented on #30
@rmoscowitz are the explanations of this issue satisfactory? If so can we close it? Or is there still a bug that needs to be resolved?

I collected all the UI issues I am aware of here: https://github.com/sketch-city/harvey-api/issues/31

[2017-09-03 22:04] ironcoconut commented on #29
AFAIK the google sheet is dead. Has the DB been manually updated yet?

[2017-09-03 22:51] wabbit983 commented on #34
Not sure how you want me to push this to you. I don't know ruby, but I wrote this in JS with some html and css...

http://digitalwabbit.com/contributors.html

[2017-09-03 23:31] jwo commented on #34
Went live!

[2017-09-03 23:31] #34 closed

[2017-09-03 23:32] jwo opened #46 "TODO: integrate contributors page"
We have a cool contributors page in the public directory. We can either leave it there and link to it, or pull into a rails view.

[2017-09-03 23:39] dorton commented on #40
@jwo @ironcoconut do we want to keep the idea of creating drafts consistent here too? If not draft, then maybe submission from a user who does not need to be admin?

[2017-09-03 23:47] jwo commented on #40
@dorton I think maybe? But as far as I know right now, it'll be admins updating, not general public.

[2017-09-03 23:49] dorton commented on #40
coolcool. Will follow same workflow, as it leaves it open.

[2017-09-04 01:56] rmoscowitz commented on #29
@ironcoconut Sorry I was offline for several hours. It looks like the import from the Google Doc was successful. (The only strange thing I've noticed so far is that all of the lat/longs changed... I don't know which ones are accurate so I'm leaving them alone.)

I'm working on finding the updates that were wiped now and manually re-entering them. This issue can be closed. Thanks again for your hel

[2017-09-04 02:02] rmoscowitz commented on #30
@ironcoconut Ah I understand! We were expecting "Last Updated" to auto update. I checked again and yes, the fields that are actually being changed are saved. Thanks for explaining, this can be closed.

[2017-09-04 02:16] nihonjinrxs commented on #21
Starting on this now.

[2017-09-04 02:59] ironcoconut commented on #29
Awesome. Thank you. I believe you deserve a medal for data entry!

[2017-09-04 02:59] #29 closed

[2017-09-04 03:18] ironcoconut commented on #30
Great. Happy labor day.

[2017-09-04 03:18] #30 closed

[2017-09-04 05:55] ironcoconut opened #50 "TODO: Add controller tests for archive action"
For controllers with an archive action, add a test for each that:

- ensures admins can archive
- ensures non admins cannot

[2017-09-04 18:05] #39 closed

[2017-09-04 18:05] #40 closed

[2017-09-04 18:05] #41 closed

[2017-09-04 19:03] #50 closed

[2017-09-04 19:26] jwo opened #54 "TODO: Root page contributor instructions"
Take Info from : https://docs.google.com/forms/d/e/1FAIpQLSeaZpCVk2-Nt24HCCIPs_zPoCNC8xIh_IE4aqaxe0DZ7qbNAA/viewform

And put on the root path

![screencapture-docs-google-forms-d-e-1faipqlseazpcvk2-nt24hccips_zpocnc8xih_ie4aqaxe0dz7qbnaa-viewform-1504553117953](https://user-images.githubusercontent.com/123075/30036933-ea9fede0-917c-11e7-9210-2ef52943790b.png)

Reasoning:

[2017-09-04 23:49] jwo commented on #10
closing for now; we can re-address once we have a full accounting of the features we've adopted

[2017-09-04 23:49] #10 closed

[2017-09-04 23:51] jwo commented on #2
@ironcoconut Much of immediate is complete, and @cmason is handling the connect (individual needs) stuff... is this roadmap still applicable? Can we close if not?

[2017-09-04 23:59] neerajt commented on #2
@ironcoconut @jwo this is an excellent write-up and I'm bookmarking it for posterity & future study :)

That said, it looks like we've graduated past this now. Vote to close.

[2017-09-05 00:01] ironcoconut commented on #2
Amazing to come so far.

[2017-09-05 00:01] #2 closed

[2017-09-05 16:04] ajclose commented on #26
I looked into the production environment config file and config.force_ssl is already set to true.   I checked in the browser and it is already using https.  Is there anything else that needs to be done?

[2017-09-05 16:13] jwo commented on #26
@ajclose eek, looks like I fixed and didn't remember fixing :)

git blame says it was me:

[code]

[2017-09-05 16:13] #26 closed

[2017-09-05 17:20] randy7771026 opened #62 "Displaying UTC in date field after update"
Just that.  User makes update then the field displays UTC.

[2017-09-05 17:24] randy7771026 opened #63 "freezing between updates"
User makes update and then hits back which freezes page.  Perhaps hitting back is not the thing to do?

[2017-09-05 17:25] jwo commented on #62
Want to make sure I get it.  Keep using the RFC4339 (maybe?) format we are, but display them all in UTC rather than CT, right?

[2017-09-05 17:51] randy7771026 commented on #62
I do not think so the actual letters UTC are displayed.

On Tue, Sep 5, 2017 at 12:25 PM, Jesse Wolgamott <notifications@github.com>
wrote:

[2017-09-05 17:55] jwo commented on #62
@randy7771026 I'm sorry I'm not following. Could you expand? Maybe post a screenshot of what is happening and what you'd like to see?

[2017-09-05 19:10] randy7771026 commented on #62
OK user and I were not communicating and the problem is that after updating and going back via button at bottom it goes to page one instead of page being updated and often freezes so I will close this.

[2017-09-05 19:10] #62 closed

[2017-09-05 19:12] sya opened #64 "TODO - Delete Button"
Would like to mark something for deletion, or delete. Recently contacted by someone requesting we remove their shelter. Updated info, but would be nice to just delete the record instead. Not sure if deleting shelter name and coordinates would do it?

[2017-09-05 19:16] sya opened #65 "UPDATED BY: Not updating name with recent editor"
Updated by is not showing the name of the person that last updated the records, e.g. South Houston Intermediate. I've just updated but Tanmay is still listed as just updating.

[2017-09-05 19:39] jwo commented on #64
@sya admins can delete needs and shelters.

[2017-09-05 19:42] jwo commented on #63
Hey @randy7771026 I can't duplicate this issue. Is this on the https://api.harveyneeds.org site?

In general, this should be fie to click back. The only thing I can think of is that this is on a specific map site.

Please re-open with steps to duplicate if you can get them.

[2017-09-05 19:42] #63 closed

[2017-09-05 19:43] jwo commented on #65
@sya Did you enter in your information into the `updated_by` field? And then it didn't persist that change?

Just want to make sure I understand the issue.

[2017-09-05 20:08] ironcoconut commented on #65
Updated by is a manual field. We are not persisting the user who last updated the record so the info is certainly incorrect. It is on the TODO list to add this functionality.

[2017-09-05 21:44] jwo commented on #65
Closing for now. We can reopen if further info comes in. I think @ironcoconut is right on

[2017-09-05 21:44] #65 closed

[2017-09-06 00:06] sya commented on #65
Got it. Right now there is no "Updated By" field in the form. In the future we may automate this, but at the moment it's hard-coded in basically. Thanks!

[2017-09-06 00:07] sya commented on #64
@jwo, can you tell me how? Unless I've been removed as an Admin I do not see that functionality. For now I've added `CLOSED` to the shelter's name.

[2017-09-06 00:09] jwo commented on #64
@dorton would you post a screenshot of how to delete?

——

- jesse

On Sep 5, 2017, 7:07 PM -0500, selene <notifications@github.com>, wrote:

[2017-09-06 03:28] tbarn commented on #28
Is there any way this is preventing us from entering new lat/long on needs?

For example, I was unable to added a lat/long to this listing: https://api.harveyneeds.org/needs/8330. I wasn't sure if it was on the API side or something client side.

[2017-09-06 13:49] jwo commented on #28
@tbarn you should be able to manually enter lat/lon when creating/updating needs and shelters. If you can't, we need to fix

[2017-09-06 15:06] tbarn commented on #28
Yeah, that's what I was doing. I'd click "save" and it wasn't saving it. I didn't see any console errors either.

[2017-09-06 15:39] jwo commented on #54
Fixed by #61

[2017-09-06 15:39] #54 closed

[2017-09-06 17:52] sya commented on #64
Found how. There is an `Archive` button! Thanks

[2017-09-06 18:14] jwo commented on #64
Yay!

[2017-09-06 18:14] #64 closed

[2017-09-06 19:19] sya opened #71 "TODO: Making language consistent"
*When creating a new Shelters record*
<img width="206" alt="screen shot 2017-09-06 at 2 17 51 pm" src="https://user-images.githubusercontent.com/849825/30130273-41fd3aec-930e-11e7-9439-0e87db456b91.png">

*When creating a new Needs record* (this is written as if someone should answer with a Yes/No rather than provide additional details)
<img width="266" alt="screen shot 2017-09-06 at 2 17 41 pm" s

[2017-09-06 19:23] ironcoconut commented on #71
This is a hold over from the Google sheets and will remain for now. The fix is not straightforward even though it would seem to be.

[2017-09-06 23:48] DaynaW3990 opened #72 "Add 2 fields to API Sheet to gather Cell Number and shelter manager's name"
It is easier to text and ask for a shelter update than to make a phone call.  If we have a field for the cell number we can send the texts.  If we have the Manager's name, if we have to call, we can talk to an authority not a volunteer

[2017-09-07 03:20] ironcoconut commented on #72
After discussion, we decided a private notes field is better. It should only be visible to admins.

- [ ] Private Notes (visible only to admins)
- [ ] Distribution Center (text)
- [ ] Food Pantry (text)
- [ ] Add ability to update accepting field
- [ ] Move lat and lng to bottom and add optional text

[2017-09-07 04:25] #72 closed

[2017-09-07 04:29] tbarn commented on #33
I love this project that includes non-code contributors too: https://github.com/LABHR/octohatrack

Sadly for purposes of this project, it is in Python... I might see if there's a Ruby port of it I haven't seen anywhere before.

[2017-09-07 11:05] jwo commented on #28
for geocoding --- we can either :
* use browser geocoder and show a map with a pin as they are entering an address. Gives a visual cue and could have address completion.
* use geocoder on the back end after. Less change to the UI

[2017-09-07 14:05] tbarn commented on #28
I think for the second case, there will need to be a good way to deal with incomplete or bad addresses.

There's probably a few different errors it could get, will need to think through dealing with them to make it easiest for the submitter.

A common thing I've seen is, some include a city and some don't. And that address could exist in multiple cities so hard to know which. In Shelters, I am not

[2017-09-07 14:44] jwo commented on #28
@tbarn Agree, I think the first way is probably the way that is the clearest to users (and easiest on servers)

[2017-09-07 16:54] ironcoconut opened #77 "Roadmap 2017-09-07"
API Team's Roadmap for the next 2 weeks.

### Goals

First, we have built something that works and provides real value to people on the ground. Because so many groups are using the api, it is important that we test thoroughly to ensure we do not break v1 features. That being said, goals are:

#### Version 2

1. Simplify the import process for adding spreadsheets from various organization.
2. Deplo

[2017-09-07 17:42] rmoscowitz commented on #77
Really great stuff in here!

* Can you explain how normalizing the data and making it available on one endpoint would work? If I try to GET from `api.futurestorm.org`, do I get one big response with everything in it? If I'm building a new app, I might not want all of the data, so child endpoints like `/needs` or maybe selectors or more filters would be helpful.
* "programmatically builds tables, f

[2017-09-07 18:16] ironcoconut commented on #77
There would be filters so that you would only get the data you need. The specifics are yet to be determined. We would want to be able to filter by type (shelter, rescue, etc), by managing organization, by status and probably more.

Your org would tell use which google sheets to import. After we import them, you could visit the following links for html pages:

- `your_org/table_name`: a table with

[2017-09-07 18:42] tbarn commented on #28
Yeah, it is a bit more UI and frontend work, but might cause less issues in the end and less confusion to users. Is there a place y'all are tracking and planning this kind of work outside of Slack?

[2017-09-07 19:30] user512 commented on #28
I might be able to hack something temporary for the browser geocode approach tonight after work (never work on map before but happy to learn). But feel free to let me know if you are already working on it, happy to pick up another task.

[2017-09-07 21:37] DaynaW3990 opened #78 "API spreadsheet Updates Needed"
On the main spreadsheet, Move the name of the shelter to the third column from the beginning, after the field Accepting.

In the Shelters Update Queue, move the Show button to the front of the line.  Change it to accept or Deny.  We do not need to open to make a decision.  If we have to Open it, have the button for accept open the next shelter in the Update Queue.

Thank you for working with us.

[2017-09-07 22:17] DaynaW3990 commented on #78
In the Show form for existing Shelters, it has three buttons at the bottom.  Can they please be moved up to the top.

Can the same three buttons be added to the UPDATE Shelters form?  We need to update their information, then archive them.  Does the Archiving save the info first then archive?  If not, can it please

[2017-09-07 22:48] DaynaW3990 commented on #78
Create a button on the main page of the Shelter's API. spreadsheet and link to these instructions

https://drive.google.com/open?id=0B6l8wQZ058Z4SXFLZG1mWTl4TUE

[2017-09-08 03:25] tbarn commented on #78
@DaynaW3990 have you gotten a chance to check out the new "Pages" tab? We can now edit the home page, with images too. Instead of linking to instructions we can now write them there so it is all in one place.

[2017-09-08 04:09] DaynaW3990 commented on #78
I cannot see a pages tab.  can you send me a link to which site I should be looking at?  Is this the "How to use page???

If so, can I add a lot more content?

[2017-09-08 04:10] DaynaW3990 commented on #78
I'd like to put the public instructions there, but also have printable link too.  We have to be blue haired church secretary friendly...

[2017-09-08 19:29] jwo commented on #78
@DaynaW3990

We couldn't do this in the timeframe requested. You'll need to update the shelter and then click "Archive".

The rest will be live soon.

[2017-09-08 19:30] #78 closed

[2017-09-08 19:38] jwo opened #82 "TODO: Disable or fix tests at test/tasks/geodata_test.rb"
The geocoding rake tasks seem to fail on travis-ci pretty often. And I can't figure out why.

I think, for now, I'd like to simply disable the tasks test.

Maybe move them into a job rather than a rake task and see if that fixes.

[2017-09-08 21:27] tdooner commented on #28
We could just update the address field to be a Google Places Autocomplete (or add another field), which I think would give us a benefit of also having a stable ID for a given place that would be also usable with other Google Maps APIs.

[2017-09-08 21:57] #82 closed

[2017-09-08 22:04] jwo commented on #28
@tdooner I that's a perfect idea; I had thought of using the places autocomplete to get a lat/lng (and display on a map as they're entering), but not of storing the google placed id.

that's fantastic

[2017-09-09 01:00] cmason opened #86 "Code Review Tool"
Any strong opinions on adding a code review tool such as [HoundCI](https://houndci.com/) or [CodeClimate](https://codeclimate.com/) into the pull request workflow?

I occasionally run [rubocop](https://github.com/bbatsov/rubocop) over my work when I remember. It would be nice to automate it.

[2017-09-09 12:25] DaynaW3990 opened #90 "URGENT Add columns to API table"
**Needed for Irma API**
Need yes/no check box for Special Needs
Need Note field for County
Need Note field for the County's Update website
Need Time Stamp for last time the Shelter Info was updated
Need a Private field for email so we can export to make a group update email
Need a Private field for Text Information So we can make a bot to send update requests

[2017-09-09 12:35] jwo commented on #90
@DaynaW3990

irma has forked their repo, please ask them for changes: https://github.com/Irma-Response/irma-api

[2017-09-09 12:35] #90 closed

[2017-09-09 16:02] jwo commented on #86
@cmason recently worked on a project where we did `rubocop -w` religiously; it ended up writing code I didn't even recognize.

Soooo I'm not sure? I'm good with trying it out, especially as we move into maintenance/improvement phase.

[2017-09-09 16:12] #28 closed

[2017-09-09 20:36] ironcoconut opened #99 "Add sockets location index"
For shelters, needs, and other v1 endpoints, a socket lets you know when there are updates to the table.

Add this functionality to the location table as well.

[2017-09-09 20:37] ironcoconut opened #100 "Add map to location form"
For shelters and needs, when you type in the address, we use google autocomplete to fill the the address info and display a map.

Add this functionality to the location form.

[2017-09-10 02:52] meremaines opened #103 "Feature Idea: Version History in Records"
Idea from Cheryl:

When updating a record, you can only see the same of the person who originally opened the record. Admins would like to be able to enter their own name when editing a record, and then be able to see a version history of what changes to a specific record others have made over time.

[2017-09-10 02:57] meremaines opened #104 "Potential Bug? "Back" returns to page 1"
Idea from Cheryl:

After a user submits an update to any record, the record's summary page shows three links at the bottom: update, back, and archive. After clicking "back," users expect to return to the most recently viewed page of the list, but instead, "back" returns you to the very first page of the list, requiring you to click through all the pages again to pick up where you left off.

[2017-09-10 03:01] meremaines opened #105 "Feature Idea: Improved Pagination"
Since there can potentially be many pages of records requiring users to page through one-by-one, could be helpful to add a page dropdown or page number input field.

[2017-09-10 11:32] fileunderjeff opened #106 "Feature idea: Volunteer/Individual tracking"
I fielded a request to add "volunteers" or "individuals" to the API. Ideally, this would operate as an independent module and optionally associate with organizations (or charitable organizations).

[2017-09-10 15:38] jnolasco opened #107 "Per Field Change Tracking"
Longer term item. Create a structure that has an aggregate static schema for a shelter like this:

[shelters]
id
name
address
is_full

and an update queue like this
[shelter_updates]
id
shelter_id
field -- name|address|is_full)
payload -- the contents of the new field
timestamp
admin_id -- whoever put this update in

This would turn shelters into more of a cache of all the most recent values set i

[2017-09-10 15:46] rogerroelofs commented on #104
This is fixed in the irma repo it is just adding 'saveState' to app/views/shared/_table.html.erb

[2017-09-10 16:11] ironcoconut commented on #106
We can add something like that. What fields would you need? What namespace would it be under?

[2017-09-10 17:15] ironcoconut commented on #107
The long term goal is to move everything to v2 once the immediate need for relief calms down. See the roadmap issue.

If we want to keep a log of changes, we can add the  paper trail gem that was suggested by @dorton in the beginning.

https://github.com/airblade/paper_trail

[2017-09-10 17:16] ironcoconut commented on #105
I think the core of your problem can fixed with the fix in https://github.com/sketch-city/harvey-api/issues/104

[2017-09-10 17:17] ironcoconut commented on #103
This can be solved with the paper clip gem. See https://github.com/sketch-city/harvey-api/issues/107

[2017-09-11 06:25] jnolasco opened #108 "Emit shelter id in api/v1/shelters"
Can we emit the shelterid in api/v1/shelter? It would allow houstonshelters.org to to create links back to api.harveyneeds.org for direct editing of shelter statuses.

[2017-09-11 19:43] jwo commented on #108
@jnolasco I'll ping you when this is live

[2017-09-11 20:35] neerajt opened #111 "Optimize query for default scope"
According to Heroku, the following query has the slowest execution time:

[code]

After talking to @ironcoconut, I understand this query to be the result of the default scope we're using. As a low hanging fruit, we can start by adding an index to `shelters.active`.

[2017-09-11 22:09] user512 commented on #31
https://github.com/sketch-city/harvey-api/pull/109 resolves `Add State field (some shelters not in Texas)` (cannot edit the original comment)

[2017-09-11 22:09] jnolasco commented on #108
Thank you!

[2017-09-12 02:51] jnolasco commented on #108
fwiw, irmashelters has this already applied, but it may just be easier to add it to the json quick and resolve any tiny conflict (with an eventual big merge) later

[2017-09-12 11:04] #108 closed

[2017-09-12 11:36] jwo commented on #111
Closed by #113

[2017-09-12 11:36] #111 closed

[2017-09-12 11:38] jwo commented on #108
@jnolasco this is live on the harvey needs API

[2017-09-12 11:59] jwo opened #114 "TODO: Update readme with ids"
We recently started to emit ids on api endpoints. We should update the readme example to include they.

[2017-09-12 12:00] jwo opened #115 "TODO: update readme to point to swagger docs"
We now have super cool API docs: https://api.harveyneeds.org/api-docs

Let's clean up our readme by pointing those docs instead of in the README

[2017-09-12 12:02] jwo opened #116 "TODO: update swagger with ids and 304"
The swagger docs should be updated that we emit an id.

The swagger docs should show an example of how to use if-modified-since to get a 304 when no content has changed

[2017-09-12 12:05] jwo commented on #31
I think this is pretty well updated, and we have more info (and a cooler way to find places) than when this was originally created.

Going to close for now. Please reopen if there are more things to do

[2017-09-12 12:05] #31 closed

[2017-09-12 18:42] cmacaulay commented on #114
@jwo I'm happy to help here! Just to make sure - the readme needs to be updated to include id's on the JSON examples?

[2017-09-12 19:22] jwo commented on #114
@cmacaulay Awesome, thanks!

Yep, that's all we need, just IDs on each of the examples in the readme. You can even make up the ids, like "264456"

[code]

[2017-09-12 19:42] #114 closed

[2017-09-12 21:23] thedavidhanks opened #119 "Issue: Needs & Shelters show incorrect location"
The detail page for the Needs and Shelters shows the same incorrect location for all Shelters and Needs.

https://api.harveyneeds.org/needs/83303
![image](https://user-images.githubusercontent.com/13823414/30348910-9d1a6874-97d6-11e7-895e-b42d2fad33e3.png)

[2017-09-12 21:26] jwo commented on #119
@thedavidhanks Are you entering the name of the shelter into the  "Where is it" ?

When I do, it finds it:

<img width="1371" alt="screen shot 2017-09-12 at 4 26 01 pm" src="https://user-images.githubusercontent.com/123075/30349074-33c748d2-97d7-11e7-967e-ceacd2f7b3d8.png">

[2017-09-12 21:28] jwo commented on #119
It may be that the latitude / longitude was never entered for those needs. They just need to be edited with our super cool new mapping finder.

[2017-09-12 21:28] thedavidhanks commented on #119
I'm going to https://api.harveyneeds.org/needs and clicking on "Show" or "Update"

[2017-09-12 21:34] Sporky023 commented on #119
Sounds like a UX issue.  When there's a place in a view for a map, if no lat/lon is present then there should instead be a message like "no location for this need".  A map showing a default location sounds like misinformation.

[2017-09-13 00:34] brettapeters commented on #100
closed by #97

edit: whoops, _not_ closed by 97

[2017-09-13 00:48] GavinRay97 commented on #115
PR Submitted:
https://github.com/sketch-city/harvey-api/pull/121

[2017-09-13 01:20] brettapeters commented on #119
This might have to do with the needs form. If the Google autocomplete input doesn't send an api request before the user submits the form (they might just paste in an address and click out, or not click the suggestions dropdown at all) the form will not have lat/lng when it is submitted. To fix, we could fire off a request on blur and choose the first suggestion. Or just not try to show a map if th

[2017-09-13 01:44] Sporky023 commented on #119
This pull disables the map if no lat/lon present.  Showing no information better than showing disinformation.

https://github.com/sketch-city/harvey-api/pull/123

[2017-09-13 01:49] Sporky023 commented on #119
I've created another pull request (**please note the feature is incomplete and potentially hazardous to use, as it is not thought through very well**).  In this second one it saves the `google_place` from the `/needs/new` form in the database record for a Need.

The idea is that when you go to `needs/:id/edit` the form will now be pre-populated with the original location string that the user enter

[2017-09-13 11:10] jwo commented on #115
Closed by #121.

[2017-09-13 11:10] #115 closed

[2017-09-13 11:24] jwo commented on #119
@Sporky023

If you create a user record, and then using `rails console` you upgrade it to an admin, you can both:

1. Make edits directly without updates going to the queue
2. Update and approve queue updates that anonymous users submit

[2017-09-13 11:33] jwo commented on #119
This should be working now. If you visit a need that did not save a lat/lon, it won't show a map

But if you do visit a need that used our address finder, and got a map (lat/lon), it will show the correct map.

Going to close for now, but if I misunderstand, please comment and reopen. Thanks yall!

[2017-09-13 11:33] #119 closed

[2017-09-13 11:34] jwo commented on #107
@jnolasco Going to close in favor of #103 because that has the reason why users want the feature.

[2017-09-13 11:34] #107 closed

[2017-09-13 11:35] jwo commented on #104
I think back-merging the saveState from irma-api is the right way to go for all of our endpoints in v1 (and also then in v2)

[2017-09-13 11:37] jwo commented on #99
Note: we currently have action-cable sending up updates for new records, but we can expand for updates as well

[2017-09-13 11:38] jwo commented on #105
Tech details: we use `data-table`, so this would be configuring/using the javascript library.

[2017-09-13 11:39] jwo commented on #100
@brettapeters I'm not sure this one is closed by #97; the "location" is a different model from the needs/shelters; it's our new V2 concept that generalizes the idea of a location.

[2017-09-13 11:42] jwo commented on #71
Way forward:

* Add new field to store the volunteers needed (default false)
* populate the field (manually)
* remove field when complete

If someone is willing to shepherd the data, I can make the tech work.

@sya Let me know, either here or in slack, if you or someone else can run with the data part of the project.

[2017-09-13 11:43] jwo commented on #38
closing in favor of #99

[2017-09-13 11:43] #38 closed

[2017-09-13 11:50] rogerroelofs commented on #104
saveState may be doing more than we really need since it also saves the column info and we don't allow users to hide / show columns.  See https://github.com/Irma-Response/irma-api/pull/43 for updates that might be useful.

[2017-09-14 09:52] #116 closed

[2017-09-22 15:13] neerajt opened #131 "Add Spanish (es) locale to all views"
Our friends, the Sismo Mexico recovery people have asked for Spanish translations. I think this would benefit people in Texas, Florida, and the Caribbean too.

Best solution here is to implement this using i18n on Rails, see here: http://guides.rubyonrails.org/i18n.html.

Here's a cheat-sheet for the translations, in the order they appear in the views.

https://gist.github.com/neerajt/f8023ee8c620

[2017-09-28 02:24] cmason opened #133 "Categorizing shelters and needs"
What kind of applications are using the `needs` and `shelters` endpoints? More importantly, would there be any value in [categorizing](https://api.harveyneeds.org/api-docs#/DisasterConnect/listCategories) the haves and needs of each entity?

The [DisasterConnect app](http://disasterconnect.io/) could use categorized shelter/organization data to pair haves and needs together. This would increase th

[2017-10-07 16:13] #104 closed